<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>home</title>
</head>
<body>
<a href="/velogo/admin_change_password/">Change password</a><br>
<a href="/velogo/admin_view_pending_drivers/">View drivers and verify</a><br>
<a href="/velogo/admin_view_approved_drivers/">view approved drivers</a><br>
<a href="/velogo/view_reject_driver/">view rejected drivers</a><br>
<a href="/velogo/admin_driver_review/">view reviews about drivers</a><br>
<a href="/velogo/admin_view_driver_complaints/">view complaints and send reply</a><br>
<a href="/velogo/admin_view_app_ratingandreview/">view app rating</a><br>
<a href="/velogo/admin_view_user/">view users</a><br>
<a href="/velogo/admin_view_monthly_payments_from_drivers/">view monthly payments from drivers</a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
<a href=""></a><br>
</body>
</html>