<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/velogo/view_approved_drivers/">
    {% csrf_token %}
  <table width="200" border="1">
    <tr>
        <td>From</td>
        <td><label for="textfield"></label>
      <input type="text" name="textfield" id="textfield" /></td>
        <td>To</td>
      <td><input type="submit" name="button" id="button" value="Submit" /></td>
    </tr>
  </table>
</form>
<table width="725" height="208" border="1">
    <tr>
    <td width="63">Sl No</td>
    <td width="63">Name</td>
          <td width="57">DOB</td>
            <td>gender</td>
    <td width="74">Ph.No</td>
    <td width="90">Address</td>
    <td width="85">Licence</td>
      <td>>photo</td>
      <td>email</td>
      <td>languagesknown </td>
      <td>upi<td>

    <td></td>
  </tr>
    {% for i in data %}
  <tr>
    <td>{{ forloop.counter }}</td>
    <td>{{ i.name }}</td>
      <td>&nbsp;{{ i.DateOfBirth }}</td>
      <td>{{ i.gender }}</td>
    <td>{{ i.phone }}</td>
    <td>&nbsp;{{ i.place }}<br>{{ i.Post }}<br>{{i.city }}<br>{{ i.state }}<br>{{ i.pin }}<br></td>
      <td>{{ i.lisence }}</td>
      <td>{{ i.photo}}</td>
      <td>{{ i.email }}</td>
      <td>{{ i.languagesknown }}</td>
      <td>{{ i.upi }}</td>

    <td width="100"><a href="/velogo/reject_drivers/{{ i.LOGIN.id }}">Reject

    </a></td>
  </tr>
    {% endfor %}
</table>

</body>
</html>
