<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="/velogo/view_app_rating_and_review/" method="post">
{% csrf_token %}
      <table width="566" height="106" border="1">
    <tr>
        <td>From</td>
        <td><input type="date" name="textfield" id="textfield" /></td>
        <td>To</td>
        <td><input type="date" name="textfield2" id="textfield2" /></td>
        <td><input type="submit" value="Search" /></td>
    </tr>
  </table>
<table width="548" height="137" border="1">
  <tr>
    <td width="52">Sl No.</td>
    <td width="38">Date</td>
    <td width="90">User Name</td>
    <td width="104">App Review</td>
    <td width="133">App Rating</td>
  </tr>
    {% for i in data %}
  <tr>
    <td>&nbsp;{{ forloop.counter }}</td>
    <td>&nbsp;{{ i.Date }}</td>
    <td>{{ i.USERS.Name }}&nbsp;</td>
    <td>{{ i.Review }}&nbsp;</td>
    <td>&nbsp;{{ i.Rating }}</td>
  </tr>
    {% endfor %}
</table>
</form>
</body>
</html>
